@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@include keyframes(slide-down) {
  0% {
      padding:0;
    }
    100% {
      
      height: 300px;
    }
}

.styleSearchWindow{
    
    height: 0%;
    position: absolute;
    background-color: white;
    left:50%;
    top:15%;
    overflow: hidden;
    display: flex;         
    flex-direction: column;
    border-radius: 15px;
    transition: height 0.5s, padding 1s;
    font-family: 'Tenor Sans', sans-serif;
    .input{
    margin-top:2rem;
    border: 0px;
    border-bottom:1px solid #4F6B6D;
    font-family: 'Tenor Sans', sans-serif;
    padding-bottom: 1rem;
    &:focus{
        transition: 1s ease;
        border-bottom:1px solid #4F6B6D;
        padding-bottom:0.2rem;
        outline:none;
    }}
    .cityAndRegion{
        display: flex;
        justify-content: space-between;
        padding-top:5px;
        input{
            width:40%;
        }
    }
    .flexCheckbox{
        padding-top:1.5rem;
        label{
            color:#4f6b6ddd;
        }
    }
    .buttonSearch{
        padding-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        button{
            font-size:0.8rem;     
            font-family: 'Tenor Sans', sans-serif;
            margin-top:1.5rem;
            border-radius:20px;
            padding:1rem;
            display: flex;
            justify-content: center;
            background-color: #4f6b6d77;
            border:0px;
            width:60%;
            cursor: pointer;
            &:hover{
                color:white;
                background-color: #4F6B6D;
                transition: 0.5s;
            }
    }
    }
}

.open{
  padding:1rem;
  padding-bottom:2rem;
  height: 300px;
}