
.holidayPage{
    width: 90vw;
    height: 90vh;
    background-color: white;
    border-radius: 7px;
    overflow:scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    .holidayMainPage{
        height: 100%;
        .holidayPictureBox{
            max-height: 65%;
            padding:0;
            display: flex;
            align-items: center;
            .holidayHotelPhoto{
                width:100%;
        }
        }
        .holidayMessageBlock{ 
            height: 25%;
            width: 100%;
            display: flex;
            background-color: #84bea92c;
            .holidayMainPageWelcomingMsg{
                margin-left: 5%;
                width:35vw;
                display: flex;
                align-items: center;            
                font-family: 'Tenor Sans', sans-serif;
                height:100%;
                font-size: 4rem;
        }
            .holidaySearchBlock{
                width: 65vw;
                display: flex;
                .holidaySearchWindow{
                    z-index: 1;            
                }
            }
        }
    }
    .holidayHeader{
        height: 10vh;
        display: flex;
        align-items: center;
        .holidayBrand{
            width: 50%;
            margin-left: 5%;
            display: flex;
            align-items: center;
            span{
                font-size:2rem;
                font-family: 'Josefin Sans', sans-serif;
            }
        }
        .holidayActionLink{
            display: flex;
            width: 50%;
            justify-content:space-evenly;
            height: 100%;  
            div{
                margin-right: 1rem;
            }
            .holidayChangeLang{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 100%;
                span{
                    font-size:1.5rem;
                    font-family: 'Josefin Sans', sans-serif;
                }
                img{
                    margin-left:0.5rem;
                    width:24px;
                    height: 100%;
                    cursor: pointer;
                }
            }
            .holidayHeaderMenu{
                width: 15%;
                display: flex;
                align-items: center;
                font-size:1.5rem;
                font-family: 'Josefin Sans', sans-serif;
                cursor: pointer;
            }
            .holidayHeaderSearch{
                width: 15%;
                display: flex;
                align-items: center;
                font-size:1.5rem;
                font-family: 'Josefin Sans', sans-serif;
                cursor: pointer;
            }   
        }
    }
    
}

@media screen and (min-width:0px) and (max-width:1024px) {
    .holidayPage{
        flex-direction: column;
        width: 100% !important;
    }
    .holidayMainPage{
        .holidayMessageBlock{
            .holidayMainPageWelcomingMsg{
                width: 100% !important;
                font-size: calc(1em + 5vw) !important;
            }
        }
    }
    .holidayHeader{
        flex-direction: column;
        height: auto !important;
        margin-top:1rem;
        .holidayBrand{
            margin:0px !important;
            width: 100% !important;
            justify-content: center;
        }
        .holidayActionLink{
            div{
                margin-right: 0px !important;
                margin: 0.25rem 0 0.25rem 0;
                width: auto !important;
                justify-content: center !important;
            }
            width: 100% !important;
            flex-direction: column;
            align-items: center;
        }
        
        .holidayBrand{
            span{
                font-size: 1rem;
            }
        }
        
    }
}